.offer {
    width: 300px;
    border: 3px solid var(--color-principal);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 5px 30px grey;
}

.offer-container {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.offer img{
    width: 100%;
}

.offer .offer-description{
    padding: 20px;
}

.offer-description ul {
    list-style-position: inside;
    margin-bottom: 10px;
}

.offer-description .offer-price {
    text-align: right;
    font-size: 1.3rem;
}

.offer-description button {
    width: 100%;
    padding: 10px 0;
    border-radius: 15px;
    background-color: var(--color-principal);
    border: none;
    color: var(--color-font);
}

.btn-line {
    border-bottom: 3px solid var(--color-secundary-opacity);
}

.after {
    color: red;
    text-decoration: line-through;
    font-size: 1.2rem !important;
}

.offer-date {
    color: gray;
    font-size: 0.8rem;
}

@media only screen and (max-width: 500px) {
    .offer-container {
        flex-direction: column;
        align-items: center;
    }
}